NEXT_PUBLIC_STORABLE_ENV_URL=https://webapps.storable.io/
NEXT_PUBLIC_STORABLE_PROVIDER_ID=[CONFIRM_WITH_STORABLE]
NEXT_PUBLIC_STORABLE_ORGANIZATION_ID=[CLIENT_ORGANIZATION_ID]
NEXT_PUBLIC_STORABLE_FACILITY_ID=[FACILITY_ID]
NEXT_PUBLIC_STORABLE_SOURCE=website
NEXT_PUBLIC_STORABLE_ACCESS_KEY=[STORABLE_ACCESS_KEY]
NEXT_PUBLIC_SITE_URL=https://[client-domain]
NEXT_PUBLIC_GA4_ID=[GA4_MEASUREMENT_ID]
